@font-face {
    font-family: source;
    src: url(./SourceSansPro-Regular.ttf);
}
* {
    font-family:source;
}
body {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    z-index:0;
    background-color:#222;
    color:#4ff1f7;
}

/* #qr_main_wrap {
    position:absolute;
    top:10vh;
} */
#qr-type-wrap {
    /* position:relative;
    bottom:0; */
    background-color: #222;
    color:white;
}

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.flex {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.column {
    flex-direction: column;
}
.fixed {
    position:fixed;
}


.modal {
    position:relative;
    top:0;
    left:0;
    z-index:45;
}
label.which {
    padding:10px;
    cursor:pointer;
}
label.which:hover {
    background-color: #4ff1f7 !important;
    color:#000;
}
canvas {
    position:absolute;
    top:0;
    left:0;
}
ul {
    list-style-type: none;
}
#content,#sendMsg,#mailSubj, #mailMsg {
    width:70vw;
    max-width: 649px;
}
#type {
    position:fixed;
    top:0;
    left:0;
    display:flex;
    width:100vw;
    justify-content: center;
    padding:10px 0;
    z-index:10;
}
#modal-QRC {
    width: 288px;
    height: 288px;
    margin: 20px 0 20px;
    box-shadow: 0 0 10px #4ff1f7;
}

input,select,textarea {
    color:#000;
    font-weight:bolder;
    border-radius: 1rem;
    padding:.5rem 1rem;
}
input,select,button {
    margin:2px;
}
input[type=color] {
    background:none;
    border:none;
    cursor: pointer;
    height:2rem;
    width:2rem;
    padding:0;
}
input[type=radio] {
    display:none;
}
input[type=radio]:checked ~ label  {
    background: #4ff1f7;
    color:#000;
}
:focus {
    outline:3px solid #777;  
}
.hide {
    display:none;
}
.row {
    flex-direction: row;
}
#palette {
    cursor:pointer;
    fill:#222;
    z-index:100;
}
#data {
    cursor:pointer;
    fill:#222
}
.light {
    fill:#4ff1f7 !important;
}
#palette.light {
    position:fixed;
    right:10vw;
    bottom:10vw;
    transition:all .5s linear;
}
#data > svg {
    width:30px;
    height:30px;
    padding:10px;
    margin:15px;
    fill:#4ff1f7;
}
#settings {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: #222;
    color:white;
    z-index:50;
}
#extension {
    position:absolute;bottom:0;
}
#extension > ul {
    flex-direction: row;
}
@media only screen and (max-width: 768px)  {
    * {
        font-size:.9rem;
    }
    svg {
        transform:scale(.9);
    }
}
@media only screen and (max-width: 480px)  {
    * {
        font-size:.8rem;
    }
    svg {
        transform:scale(.8);
    }
}